@import url("bootstrap.min.css");
footer{
    text-align: center;
    background-image: linear-gradient(to right, var(--bs-gray-800),var(--bs-gray-900),var(--bs-gray-800));
    padding-top: 5px;
    width: 100%;
    text-transform: uppercase;
    font-size: 12px;
    position: fixed;
    bottom: 0;
    right: 0;
}

.bannerlogo {
    width: 10em;
}

header{
    margin: 12px;
}

.bannercontainer{
    display: flex;
    justify-content: flex-start;
}

.bannerText{
    margin-left: auto;
    font-size: calc(0.7rem + 1vw);
}

.bannerText a{
    color: var(--bs-white);
    text-decoration: none;
    margin-left: 10px;
    display: inline-flex;
    align-items: center;
    font-weight: bold;
    text-transform: lowercase;
}

h1{
    font-weight: bold;
    text-transform: lowercase;
    font-size: calc(2.6rem + 1.3vw) !important;
    margin-bottom:30px;
}

h2{
    font-weight: lighter;
    font-variant: all-petite-caps;
    font-size: calc(1.4rem + 0.8vw) !important;
}
main{
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
}

.ideatable{
    margin-bottom:15px;
}

.ideatable td{
    padding:4px;
    height: 46px;
}
.ideatable td:first-child{
    width: 100%;
}
.ideatable .btn{
    margin-left:5px;
    min-width: 70px;
}
.ideatable tr:nth-child(even) {
    background: var(--bs-gray-dark);

}

.idea-list{
    margin-bottom: 1.5em;
}

.card{
    width: 48%;
    display: inline-block;
    vertical-align:top;
}

.cardbox .card:first-child{
    margin-right: 3%;
}

.card-body{
    padding:0.7rem 0.7rem;
}

.card-header{
    padding:0.4rem 0.6rem;
}

h4{
    font-size:calc(0.9rem + .9vw);
}

.statstable td{
    padding-right:20px;
}

.two-column-text{
    width: 48%;
    display: inline-block;
    vertical-align:top;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: var(--bs-gray-700);
    border-radius: 5px;
    width: 40%;
    position: relative;
    transition: all 3s ease-in-out;
}
.popup h3 {
    margin-top: 0;
}
.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}
.popup .close:hover {
    color: var(--bs-blue);
}
.popup .content {
    max-height: 30%;
    overflow: auto;
}

@media only screen and (max-width: 600px) {
    main {
        max-width: 90%;
    }

    .btn{
        padding: 0.3rem;
    }
    .card{
        width: 100%;
    }
    .two-column-text{
        width: 100%;
    }
    
    .popup {
        width: 90%;
    }
}