@import url("bootstrap.min.css");
footer{
    text-align: center;
    background-image: linear-gradient(to right, var(--bs-gray-800),var(--bs-gray-900),var(--bs-gray-800));
    padding-top: 5px;
    width: 100%;
    text-transform: uppercase;
    font-size: 12px;
    position: fixed;
    bottom: 0;
    right: 0;
}

.bannerlogo {
    width: 10em;
}

header{
    margin: 12px;
}

.bannercontainer{
    display: flex;
    justify-content: flex-start;
}

.bannerText{
    margin-left: auto;
    font-size: calc(0.7rem + 1vw);
}

.bannerText a{
    color: var(--bs-white);
    text-decoration: none;
    margin-left: 10px;
    display: inline-flex;
    align-items: center;
    font-weight: bold;
    text-transform: lowercase;
}

h1{
    font-weight: bold;
    text-transform: lowercase;
    font-size: calc(2.6rem + 1.3vw) !important;
}

h2{
    font-weight: lighter;
    font-variant: all-petite-caps;
    font-size: calc(1.4rem + 0.8vw) !important;
}
main{
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.ideatable td{
    padding:4px;
}
.ideatable td:first-child{
    width: 100%;
}
.ideatable .btn{
    margin-left:5px;
    min-width: 70px;
}

.idea-list{
    margin-bottom: 1.5em;
}

.card{
    width: 49%;
    display: inline-block;
}

.cardbox .card:first-child{
    margin-right: 2%;
}


.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}
.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
  z-index:10;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media only screen and (max-width: 600px) {
    main {
        max-width: 90%;
    }

    .btn{
        padding: 0.3rem;
    }
}