<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
                </head>
                <body>
                    <div th:fragment="header">
                        <container class="bannercontainer">
                            <span class="bannerLogoBox"><a href="/"><img class="bannerlogo" alt="Idea Engine" src="../logo_white.svg"></a></span>
                            <span class="bannerText">
                                <a href="/today">Today's Prompt</a>
                                <a href="/ideas">My Ideas</a>
                                <a href="/stats">Statistics</a>
                                <a href="/settings">Settings</a>
                                <a href="/about">About</a>
                            </span>
                        </container>
                    </div>


                    <div th:fragment="headerLogoOnly">
                        <container class="bannercontainer">
                            <span class="bannerLogoBox"><a href="/"><img class="bannerlogo" alt="Idea Engine" src="../logo_white.svg"></a></span>
                        </container>                    </div>
                    
                    
                    <div th:fragment="about">
                        <p>
                            This is a daily creative exercise for anyone who wants to practice generating ideas. Every day, you will be dealt two Tarot cards (with accompanying explanatory text), and your task is to come up with as many ideas as you can inspired by the bringing together of the concepts they represent. These may be song ideas, plot hooks, software concepts, or whatever you want to work on. You can save your best ideas from the last two weeks to a shortlist, and mark them off once they're completed. You can also set up daily reminders to use Idea Engine, and weekly reminders to come back and look over your recent ideas.
                        </p>
                        <h2>
                            A note on Tarot
                        </h2>
                        <p>I have written the card descriptions myself using a synthesis of the guide included in The Fountain Tarot deck and the descriptions of the Rider-Waite deck on <a href="https://tarotmysterium.com/">tarotmysterium.com</a>. While I have attempted to preserve the spirit of each card's traditional meaning, my descriptions are to be used more as a guide for creativity than as an authoritative record of the practice and tradition of Tarot.</p>
                    </div>
                    <footer th:fragment="footer">
                        <p>Nick Siepmann | 2022</p>
                    </footer>
                </body>

                </html>
