<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
                </head>
                <body>
                    <div th:fragment="header">
                        <container class="bannercontainer">
                            <span class="bannerLogoBox"><a href="/today"><img class="bannerlogo" alt="Idea Engine" src="../logo_white.svg"></a></span>
                            <span class="bannerText"><a href="/ideas">My Ideas</a>
                            <a href="/settings">Settings</a></span>
                        </container>
                    </div>


                    <div th:fragment="headerLogoOnly">
                        <container class="bannercontainer">
                            <span class="bannerLogoBox"><a href="/today"><img class="bannerlogo" alt="Idea Engine" src="../logo_white.svg"></a></span>
                        </container>                    </div>

                    <footer th:fragment="footer">
                        <p>Nick Siepmann | 2022</p>
                    </footer>
                </body>

                </html>
