<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Idea Engine</title>
        <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <link rel="preconnect" href="https://fonts.googleapis.com">
                    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
                        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400&family=Ubuntu+Mono&display=swap" rel="stylesheet">
                            <link href="/bootstrap.min.css" rel="stylesheet">
                                <link href="/styles.css" rel="stylesheet">
                                                            <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
                            <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
                                <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
                                    </head>
                                    <header>
                                        <div th:replace="fragments.html :: header"/>
                                    </header>
                                    <main>
                                        <h1>Settings</h1>

                                        <form action="#" th:action="@{/settings}" th:object="${settings}" th:method="post"> 
                                            <p><input type="checkbox" id="receiveDailyPrompt" name="receiveDailyPrompt" th:field="${settings.receiveDailyPrompt}">
                                                    <label for="receiveDailyPrompt">Receive daily ideas prompt email</label></p>
                                            <p><input type="checkbox" id="receiveWeeklyPrompt" name="receiveWeeklyPrompt" th:field="${settings.receiveWeeklyPrompt}">
                                                    <label for="receiveWeeklyPrompt">Receive weekly review prompt email</label></p>
                                            <button class="btn btn-primary" type="submit">Update Settings</button>
                                        </form>
                                        <p class="text-success" th:if="${updated}">Settings updated!</p>
                                        <hr>
                                            <a href="#popup"><span class="text-danger">Delete Account</span></a>
                                            <hr>

                                                <form th:action="@{/logout}" method="post">
                                                    <button type="submit" class="btn btn-dark btn-lg">Log out</button>
                                                </form>

                                                </main>

                                                <div id="popup" class="overlay">
                                                    <div class="popup">
                                                        <h3>Are you sure you want to delete your account?</h3>
                                                        <form action="#" th:action="@{/deleteaccount}" th:method="post"> 
                                                            <button type="submit" class="btn btn-danger" title="Yes - delete my account">Yes - delete my account</button>
                                                        </form>
                                                        <a class="close" href="#">&times;</a>
                                                    </div>
                                                </div>
                                                </div>
                                                <footer th:replace="fragments.html :: footer"/>
                                                <script>
                                                    function openForm(name) {
                                                        document.getElementById(name).style.display = "block";
                                                    }

                                                    function closeForm(name) {
                                                        document.getElementById(name).style.display = "none";
                                                    }
                                                </script>
                                                </body>
                                                </html>
