<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Idea Engine</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400&family=Ubuntu+Mono&display=swap" rel="stylesheet">
<link href="/bootstrap.min.css" rel="stylesheet">
<link href="/styles.css" rel="stylesheet">
                            <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
                            <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
                                <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
</head>
<header>
    <div th:replace="fragments.html :: header"/>
</header>
<main>
    <h1>Today's prompt</h1>
    <container class="cardbox">
    <span class="card border-secondary mb-3">
        <div class="card-header" th:text="${cards[0].name}"></div>
        <div class="card-body">
        <h4 class="card-title" th:text="${cards[0].gloss}"></h4>
        <!--<p class="card-text" th:text="${card.interpretation}"></p>-->

	<a class="btn btn-secondary" href="#popup0">Meaning</a>
        </div>
    </span>
    <span class="card border-secondary mb-3">
        <div class="card-header" th:text="${cards[1].name}"></div>
        <div class="card-body">
        <h4 class="card-title" th:text="${cards[1].gloss}"></h4>
        <!--<p class="card-text" th:text="${card.interpretation}"></p>-->

        <a class="btn btn-secondary" href="#popup1">Meaning</a>
        </div>
    </span>
    </container>
    


    
    <ul class="list-group idea-list">
        <li class="list-group-item d-flex justify-content-between align-items-center"  th:each="idea : ${todayideas}">
            <span th:text="${idea.text}"></span>
        </li>
    </ul>

    <form action="#" th:action="@{/today}" th:method="post"> 
        <p>
            <label class="visually-hidden" for="text">Input your idea:</label>
            <input type="text" class="form-control" name="idea" th:value="${idea}" placeholder="Input your idea" required>
        </p>
        <p>
            <center><button type="submit" class="btn btn-primary">Submit</button></center>
        </p>
    </form>
    
    <div id="popup0" class="overlay">
        <div class="popup">
            <h3 th:text="${cards[0].name}"></h3>
            <a class="close" href="#">&times;</a>
            <div class="content"  th:utext="${cards[0].interpretation}">
            </div>
        </div>
    </div>

    <div id="popup1" class="overlay">
        <div class="popup">
            <h3 th:text="${cards[1].name}"></h3>
            <a class="close" href="#">&times;</a>
            <div class="content"  th:utext="${cards[1].interpretation}">
            </div>
        </div>
    </div>
</main>
<footer th:replace="fragments.html :: footer"/>
</body>
</html>
